body{
    width: 750px;
    height: 1879px;
    margin: 0;
    padding: 0;
}
div{
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: medium;
    font-variant: normal; 
}
div.one{
    height: 237px;
    background-color: rgba(45, 112, 83, 1);
    background-image: url(./CompositeLayer.png);
    background-repeat: no-repeat;
    background-position: 36px;
    text-align: center;
}
.two{
    height: 470px;
    background-color: rgba(0, 0, 0, .5);
    background-image: url(./Прямоугольник11\ 4.png);
    margin-top: 0;   
}
.three{
    background-image: url(./154-9254.png);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    float: left;
}
.four{
    height: 156px;
    background-color: rgba(136, 136, 136, 1);
    background-image: url(./Эллипс\ 2.png);
    background-repeat: no-repeat;
    background-position: 43px;
    margin-bottom: 0px;
    margin-top: 1723px;
    text-align: right;
}
#circle{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    margin-top: 44px;
    margin-left: 44px;
}
#text{
    width: 134px;
    height: 131px;
    margin-top: 0px;
    margin-left: 237px;
    padding-top: 50px;
    font-size: 30px;
    color: white;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
}
#text1{
    width: 245px;
    height: 50px;
    margin-left: 300px;
    font-size: 36px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
}
#text2{
    width: 344px;
    height: 77px;
    margin-top: 0px;
    padding-top: 370px;
    padding-left: 210px;
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
}
#IMG{
    background-image: url(./Прямоугольник\ 1.png);
    width: 344px;
    height: 77px;
    margin-top: 800px;
    margin-left: 170px;
}
#text3{
    padding-top: 65px;
    padding-right: 20px;
    font-size: 18px;
    color: white;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
}
#text4{
    width: 590px;
    height: 166px;
    margin-top: 100px;
    margin-left: -57px;
    font-size: 24px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
}
#text5{
    width: 256px;
    height: 190px;
    margin-top: -50px;
    font-size: 24px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
}
#text6{
    width: 245px;
    height: 50px;
    margin-left: 300px;
    font-size: 24px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
}
#text7{
    width: 545px;
    height: 32px;
    margin-top: 100px;
    font-size: 36px; 
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
}
#text8{
    width: 344px;
    height: 77px;
    padding-top: 215px;
    padding-left: 175px;
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
}