.wrap{
    position:relative;
    width: 750px;
    height: 1879px;
  }  
  .back{
    position:absolute;
    width:100%;
    margin-top: 0px;
  } 
  .back1{
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: color;
    position:absolute;
    width:100%;
    margin-top: 234px;
  }
  .back2{
    position:absolute;
    width:100%;
    margin-top: 1724px;
  } 
  .home{
    position:absolute;
    width: 144px;
    height: 144px;
    margin-left: 36px;
    margin-top: 45px;
  }
  .home2{
    position:absolute;
    width: 99px;
    height: 99px;
    margin-left: 43px;
    margin-top: 1753px;
  }
  .img{
    position:absolute;
    width: 255px;
    height: 255px;
    margin-left: 43px;
    margin-top: 759px;
  }
  .button{
    position:absolute;
    width: 87px;
    height: 71px;
    margin-left: 620px;
    margin-top: 82px;
  }
  .button1{
    position:absolute;
    width: 344px;
    height: 77px;
    margin-left: 203px;
    margin-top: 578px;
  }
  .button2{
    position:absolute;
    width: 344px;
    height: 77px;
    margin-left: 203px;
    margin-top: 1600px;
  }
  #text1{
    position:absolute;
    width: 134px;
    height: 131px;
    margin-left: 237px;
    margin-top: 52px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
    font-size: 30px;
    color: white;
  }
  #text2{
  position:absolute;
  width: 344px;
  height: 77px;
  margin-left: 230px;
  margin-top: 608px;
  font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
  font-size: 24px;
  color: white;
  }
  #text3{
    position:absolute;
    width: 344px;
    height: 77px;
    margin-left: 230px;
    margin-top: 1630px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
    font-size: 24px;
    color: white;
    }
    #text4{
    position:absolute;
    width: 235px;
    height: 27px;
    margin-left: 366px;
    margin-top: 835px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
    font-size: 36px;
    }
    #text5{
    position:absolute;
    width: 245px;
    height: 50px;
    margin-left: 364px;
    margin-top: 891px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
    font-size: 24px;    
    }
    #text6{
    position:absolute;
    width: 590px;
    height: 166px;
    margin-left: 44px;
    margin-top: 1081px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
    font-size: 24px;         
    }
    #text7{
    position:absolute;
    width: 585px;
    height: 32px;
    margin-left: 44px;
    margin-top: 1293px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
    font-size: 36px;   
    }
    #text8{
    position:absolute;
    width: 290px;
    height: 256px;
    margin-left: 44px;
    margin-top: 1368px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
    font-size: 24px;          
    }
    #text9{
    position:absolute;
    width: 155px;
    height: 15px;
    margin-left: 570px;
    margin-top: 1782px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
    font-size: 18px; 
    color: white;    
    }
    #text10{
    position:absolute;
    width: 144px;
    height: 17px;
    margin-left: 562px;
    margin-top: 1824px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
    font-size: 18px; 
    color: white;   
    }
    #text11{
    position:absolute;
    width: 225px;
    height: 17px;
    margin-left: 295px;
    margin-top: 1824px;
    font-family: Myriad Pro, Adobeinvisfont, Arial, Helvetica, 'Times New Roman', sans-serif;
    font-size: 18px; 
    color: white;    
    }